<div class="MainContainer">
    <div class="SectionMain">
        <div class="box">
            <div class="icon">
            <i class="fa-solid fa-bolt-lightning service-icon emergency"></i>
            </div>
            <div class="Side">
                <h4>Emergency Call-Outs</h4>
                <p>“Fast, same-day electrical repairs – available for emergencies.”</p>
            </div>
        </div>
        <div class="box">
            <div class="icon">
                <i class="fa-solid fa-plug-circle-bolt service-icon installations"></i>
            </div>
            <div class="Side">
                <h4>Installations & Upgrades</h4>
                <p>“Professional installations & upgrades .”</p>
            </div>
    </div>
    <div class="box">
        <div class="icon">
            <i class="fa-solid fa-file-shield service-icon compliance"></i>
        </div>
        <div class="Side">
            <h4>Fault Finding</h4>
            <p>“Fault finding, safety inspections & Certificates of Compliance (COC).”</p>
        </div>
</div>