<div class="ContainerForAll">
    <div class="SectionforAboutme">
      <div class="SectionforImage">
  
        <div class="image fade-in">
          <img src="/assets/PhazimaAbout.png" alt="Aboutme" id="Aboutme" />
        </div>
        <div class="MyStory fade-in">
          
          <h1>About <Span>Us</Span></h1>
          <p>
            Ladiesworld012 is a women owned beauty establishment based in
            <span>Ga-Rankuwa View , Pretoria</span> and a new branch opened in <span>brits</span> . We are dedicated to providing high-quality
            beauty services including wig styling, custom installations,
            eyelashes, makeup, and skincare. Our mission is to create an inclusive
            and welcoming environment where every client feels valued and
            confident. We uphold professionalism, attention to detail, and
            exceptional service, ensuring that each visit is a memorable
            experience.
          </p>
          <input type="button" alt="" id="about" value="Learn more">
        </div>
      </div>
    </div>
  </div>
  