.ContainerMain{
    background-image:
      linear-gradient(
        rgba(0, 13, 26, 0.92),
        rgba(20, 20, 20, 0.63)
      ),url('/assets/aboutLanding.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    
} 
.SectionContainer{
    text-align:center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.text{
text-align: center;
}

.text h1{
    margin-top: -15%;
    font-family: 'Open Sans', sans-serif;
    color: rgb(122, 122, 122);
    font-size: 15px;

}
.text h3{
    font-size: 35px;
    color:#ffffff;
}


button{
    
    padding: 13px 35px;
    background-color:#0067a2;
    border: none;
    border-radius: 9px;
    color: white;
}








@media screen and (min-width:1024px){
    .ContainerMain{
        height: 65vh;
    } 
    .SectionContainer{
    
        width: 100%;
        margin-left: 0%;
       align-items: center;
       justify-content: center;
    }


    .text h3{

        font-size: 45px;
    }
    .text h1{
        margin-top: -19%;
        font-size:20px;
     
    }
    .text p{
        margin-top: -7%;
    }
    button{
        margin-top: 2%;
    }
}