.ContainerMain{
    background-image:
      linear-gradient(
        rgba(0, 13, 26, 0.92),
        rgba(20, 20, 20, 0.63)
      ),url('/assets/aboutLanding.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 65vh;
    display: flex;
    align-items: center;
    
} 
.SectionContainer{
    text-align:center;
    width: 100%;
    display: flex;
    align-items: center;

}


.text{

}

.text h1{
    margin-top: -5%;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 35px;
}
.text h3{
    font-family: 'Sacramento', cursive;
    color:#0067a2;
}
.text p{
    margin-top: -7%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: rgb(122, 122, 122);
}


button{
    
    padding: 13px 35px;
    background-color:#0067a2;
    border: none;
    border-radius: 9px;
    color: white;
}








@media screen and (min-width:1024px){
    .ContainerMain{
        height: 75vh;
    } 
    .SectionContainer{
    
        width: 100%;
        margin-left: 0%;
       align-items: center;
       justify-content: center;
    }


    .text h3{
        font-family: 'Sacramento', cursive;
        font-size: 30px;
    }
    .text h1{
        margin-top: -4%;
        font-size:40px;
     
    }
    .text p{
        margin-top: -7%;
    }
    button{
        margin-top: 2%;
    }
}