.ContainerMain{
    background-image:url('/assets/landingPhazima.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 65vh;
    display: flex;
    align-items: center;
} 
.SectionContainer{
    width: 60%;
    display: flex;
    align-items: center;
    margin-left: 7%;
}


.text{

}

.text h1{
    margin-top: -7%;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 40px;
}
.text h3{
    font-family: 'Sacramento', cursive;
    color:#0067a2;
}
.text p{
    margin-top: -7%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: rgb(122, 122, 122);
}


button{
    
    padding: 13px 35px;
    background-color:#0067a2;
    border: none;
    border-radius: 9px;
    color: white;
}








@media screen and (min-width:1024px){
    .ContainerMain{
        height: 85vh;
    } 
    .SectionContainer{
        width: 30%;
        margin-left: 16%;
    }


    .text h3{
        font-family: 'Sacramento', cursive;
        font-size: 30px;
    }
    .text h1{
        margin-top: -4%;
        font-size: 60px;
     
    }
    .text p{
        margin-top: -7%;
    }
    button{
        margin-top: 2%;
    }
}