<div class="ContainerMain">
    <div class="SectionContainer">
        <div class="Section">
            <div class="text">
                <h3>Trusted Expertise</h3>
                <h1>Electricity <br>And Servicing</h1>
                <p>
                    At Phazima Trade Holding, we provide reliable electrical solutions,
                    maintenance, and servicing you can trust — done safely, professionally,
                    and with attention to detail.
                </p>
                <button>Let's Work</button>
            </div>
        </div>
    </div>
</div>
