<div class="ServiceContainer">
    <div class="ServiceSection">
        <div class="Service">
            <h3>Services We Provide To <Span><br>Elevate Your Home</Span></h3>
            <input type="button" value=" View All Services" id="moreservice">
        </div>
    </div>
</div>

<div class="ContainerMain">
    <div class="SectionContainer">
        <div class="Box">
            <i class="fa-solid fa-plug-circle-plus"></i>
            <h4>New Plug & Light Installations</h4>
            <p>Add sockets, lights, switches</p>
        </div>
        <div class="Box">
            <i class="fa-solid fa-gauge-high"></i>
            <h4>DB Board Repairs & Upgrades</h4>
            <p>Replace breakers, rewiring</p>
        </div>
        <div class="Box">
            <i class="fa-solid fa-water-ladder"></i>
            <h4>Geyser Installations & Repairs</h4>
            <p>Thermostat, elements, isolators</p>
        </div>
        <div class="Box">
            <i class="fa-solid fa-fire-burner"></i>
            <h4>Stove & Oven Installations</h4>
            <p>COC-legal stove connections</p>
        </div>
        <div class="Box">
            <i class="fa-solid fa-money-bill-wave"></i>
            <h4>Prepaid Meter Installation</h4>
            <p>Sub-meters, rentals</p>
        </div>
        <div class="Box">
            <i class="fa-solid fa-file-shield"></i>
            <h4>COC Certificates & Inspections</h4>
            <p>Selling or renting property</p>
        </div>
    </div>
</div>